<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/indexStyle.css">
    <link rel="stylesheet" href="../assets/css/producto.css">
    <title>E A V A N T</title>
</head>

<body>
    <header>
        <div class="bannerHeader">
            <p> <img src="../assets/img/HugeiconsSaleTag02 (1).svg" alt=""> SOLO HOY 10% de descuento en toda la tienda
            </p>
        </div>
    </header>

    <div id="naveg-header" class="naveg-header">
        <nav>
            <ul class="nav-ul">
                <li class="nav-item">
                    <button id="btn-link-inicio" class="nav-link-btn">
                        Coleccion
                    </button>
                </li>
                <li class="nav-item">
                    <button id="btn-link-hombre" class="nav-link-btn">
                        Hombre
                    </button>
                </li>
                <li class="nav-item">
                    <button id="btn-link-mujer" class="nav-link-btn">
                        Mujer
                    </button>
                </li>
            </ul>
        </nav>
        <div class="logo-pagina">
            <h1 id="logo-h">E A V A N T</h1>
            <P id="logo-p">Ropa de alta costura</P>
        </div>
        <div class="acciones-pagina">
            <ul class="accion-ul">
                <li class="accion-item"><button id="btn-buscar" class="btn-accion"><img
                            src="../assets/img/UilSearch.svg" alt=""></button></li>
                <li class="accion-item"><button class="btn-accion"><img src="../assets/img/LucideUser.svg"
                            alt=""></button></li>
                <li class="accion-item"><button id="carrito-btn" class="btn-accion carrito-btn"><img
                            src="../assets/img/MageShoppingBag.svg" alt="">
                        <span class="contador-carrito">0</span>
                    </button></li>
            </ul>
        </div>
    </div>
    <div id="panel-busqueda" class="panel-busqueda">
        <div class="panel-busqueda-cabecera">
            <div class="panel-busqueda-input-wrapper">
                <img src="../assets/img/UilSearch.svg" alt="" class="buscar-icono-input">
                <input type="text" id="input-busqueda" placeholder="Buscar en EAVANT..." autocomplete="off">
            </div>
            <button id="btn-cerrar-busqueda" class="btn-cerrar-busqueda">
                &times;
            </button>
        </div>
        <div class="panel-busqueda-resultados" id="contenedor-resultados-busqueda">
            <!-- Los resultados de búsqueda dinámicos se inyectarán aquí -->
        </div>
    </div>

    <main id="contenido-dinamico" class="contenido-dinamico">

    </main>

    <div id="carrito-root"></div>

    <footer>
        <div class="info-footer">
            <div class="info-seccion inp-foot">
                <h3>E A V A N T</h3>
                <p>Explora lo mejor en ropa de primera para hombre y para mujer de la mejor calidad Lorem ipsum dolor
                    sit, amet consectetur adipisicing elit. Facere amet deleniti molestias harum maxime magni id.
                </p>
            </div>
            <div class="info-seccion">
                <h4>COLECCIONES</h4>
                <ul class="ul-coleccion-f">
                    <li class="ul-item-coleccion">
                        <button class="btn-coleccion-footer">
                            LO MÁS DESTACADO
                        </button>
                    </li>
                    <li class="ul-item-coleccion">
                        <button class="btn-coleccion-footer">
                            MODA HOMBRE
                        </button>
                    </li>
                    <li class="ul-item-coleccion">
                        <button class="btn-coleccion-footer">
                            MODA MUJER
                        </button>
                    </li>
                </ul>
            </div>
            <div class="info-seccion">
                <h4>Nosotros</h4>
                <ul class="nosotros-ul-f">
                    <li class="item-nosotros-f">
                        <button class="nosotros-btn">
                            SOBRE NOSOTROS
                        </button>
                    </li>
                    <li class="item-nosotros-f">
                        <button class="nosotros-btn">
                            COLECCIONES PRIVADAS
                        </button>
                    </li>
                    <li class="item-nosotros-f">
                        <button class="nosotros-btn">
                            SOSTENIBILIDAD
                        </button>
                    </li>
                    <li class="item-nosotros-f">
                        <button class="nosotros-btn">
                            CONTACTO DIRECTO
                        </button>
                    </li>
                </ul>
            </div>
            <div class="info-seccion inp-foot">
                <h4>SUSCRÍBETE & ÚNETE</h4>
                <p>Obtenga invitaciones exclusivas de preventa y muchos beneficios exclusivos</p>
                <div class="subscription-container">
                    <input type="text" placeholder="su@correo.com" required>
                    <button>&rarr;</button>
                </div>
            </div>
        </div>
        <div class="tyc-footer">
            <div class="copy-footer">
                <p>&copy; 2026 E A V A N T | Todos los derechos reservados |</p>
                <a href="#" target="_blank">Terminos y condiciones </a>
                <a href="#" target="_blank
                    ">Privacidad de datos</a>
            </div>
            <div class="subir-footer">
                <button id="btn-subir" class="btn-subir" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
                    <span>SUBIR</span>
                    <svg class="icon-subir" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="12" y1="19" x2="12" y2="5"></line>
                        <polyline points="5 12 12 5 19 12"></polyline>
                    </svg>
                </button>
            </div>
        </div>
    </footer>

    <!-- Template global para tarjetas de producto -->
    <template id="plantilla-tarjeta-producto">
        <article class="pieza-item tarjeta-producto">
            <div class="imagen-contenedor aspect-square">
                <img class="producto-imagen" src="" alt="">
                <button class="btn-agregar-tarjeta">
                    <img src="../assets/img/HugeiconsShoppingBasketAdd01.svg" alt="">Añadir
                </button>
            </div>
            <div class="info-producto">
                <div class="cont-precio">
                    <span class="coleccion-prod producto-coleccion"></span>
                    <span class="precio-prod producto-precio"></span>
                </div>
                <span class="nombre-prod producto-nombre"></span>
            </div>
        </article>
    </template>

    <script src="../services/datosProductos.js"></script>
    <script src="../services/cambiarPagina.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/ventanas.js"></script>
    <script src="../assets/js/carrito.js"></script>

</body>

</html>