* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --logoFont: 'Cormorant Garamond';
    --encabezadosFont: 'Space Grotesk';
    --principalFont: Inter;
    --tallasBtnAddFont: 'JetBrains Mono';
    --bodoniModa: 'Bodoni moda';

    --colorBlancoBg: #F9F8F6;
    --colorNegroIntenso: #0A0A0A;
    --colorCarbono: #1C1C1E;
    --colorGrisNeutro: #8E8E93;
    --colorGrisIntenso: #5e5e5e;
    --colorGrisLineal: #E5E5E5;

}

body {
    background: var(--colorBlancoBg)
}

.encabezado-contenedor {
    padding: 4.5rem 20rem;
}

.encabezado-hombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.encabezado-hombre span {
    color: var(--colorGrisNeutro);
    font-family: var(--tallasBtnAddFont);
    text-transform: uppercase;
    font-size: .74rem;
    letter-spacing: 3px;
    font-weight: 600;
}

.encabezado-hombre h3 {
    color: var(--colorNegroIntenso);
    font-family: var(--logoFont);
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 3px;
}

.encabezado-hombre p {
    font-family: var(--principalFont);
    color: var(--colorGrisIntenso);
    text-align: center;
    padding: 0 2rem;
}

.borde-bajo {
    background: #8e8e93b2;
    width: 12rem;
    height: 1.5px;
    border-radius: 100%;
    margin-top: 1rem;
}

.abrir-filtros-contenedor {
    display: flex;
    justify-content: end;
    padding: 0 3rem 0 0;
}

.abrir-filtros-contenedor button {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    padding: .5rem .7rem;
    border-radius: 9px;
    cursor: pointer;
    font-family: var(--principalFont);
    font-weight: 500;
    font-size: .9rem;
    border: none;
    background: var(--colorCarbono);
    color: var(--colorBlancoBg);
}

.abrir-filtros-contenedor button:hover {
    opacity: .9;

}

.seccion-productos {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

#contenedorFiltros {
    transition: display 5s linear;

}

.contendor-no-visible {
    display: none;
}

.cf-activo {
    position: sticky;
    top: 85px;
    max-width: 20%;
    height: fit-content;
    padding: 0rem 2rem 1rem 2rem;
    font-family: var(--principalFont);
    color: var(--colorNegroIntenso);
    user-select: none;
    border-right: 2px solid #8e8e937e;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo-filtro {
    margin-bottom: 1.4rem;
    font-family: var(--principalFont);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #8e8e937e;
    padding: 0 0 .3rem 0;
}

.filtros {
    width: 100%;
    margin-bottom: 1rem;
}

summary {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--colorGrisIntenso);
    width: 10rem;
}

.icono-flecha {
    filter: contrast(2%);
}

.ul-filtros {
    margin: 1rem .5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .9rem;
}

.filtros-item input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0 .3rem 0 0;
}

.filtros-item input[type="checkbox"]:checked {
    accent-color: var(--colorCarbono);
}

.limpiar-filtros-btn {
    width: 100%;
    margin-top: 1.8rem;
    padding: .6rem 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--principalFont);
    color: var(--colorNegroIntenso);
    font-weight: 500;
    font-size: .9rem;
    border: none;
}

.limpiar-filtros-btn:hover {
    background: var(--colorCarbono);
    color: var(--colorBlancoBg);
}

/* Estilos para las tarjeta de los productos */

.tarjetas-productos {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    align-items: start;
    align-content: center;
    padding: 0 3rem;
}

.tarjetas-productos .pieza-item:has(.aspect-square) {
    grid-column: span 4;
}

.imagen-contenedor {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    display: flex;

}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.imagen-contenedor img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    filter: saturate(80%);
    transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.imagen-contenedor button {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--colorBlancoBg);
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    font-family: var(--tallasBtnAddFont);
    gap: .5rem;
    top: 1rem;
    right: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.imagen-contenedor button:hover {
    background: var(--colorNegroIntenso);
    color: var(--colorBlancoBg);
}

.imagen-contenedor button:hover img {
    filter: brightness(100);
}

.pieza-item {
    cursor: pointer;
}

.pieza-item:hover img {
    transform: scale(1.03);
    filter: saturate(120%);
}

.pieza-item:hover .imagen-contenedor>button {
    display: flex;
}

.info-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.cont-precio {
    display: flex;
    justify-content: space-between;
    font-family: var(--tallasBtnAddFont);
}

.coleccion-prod {
    color: var(--colorGrisNeutro);
    font-size: .7rem;
    letter-spacing: 2px;
}

.precio-prod {
    font-size: .9rem;
    color: var(--colorNegroIntenso);
    font-weight: 1000;
}

.nombre-prod {
    font-family: var(--encabezadosFont);
    color: var(--colorCarbono);
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
}

.pieza-item:hover .nombre-prod {
    border-bottom: 1px solid var(--colorNegroIntenso);
} 