// Variables globales de diseño de EAVANT (Alta Costura)

$logo-font: 'Cormorant Garamond', serif;
$encabezados-font: 'Space Grotesk', sans-serif;
$principal-font: 'Inter', sans-serif;
$tallas-btn-add-font: 'JetBrains Mono', monospace;
$bodoni-moda: 'Bodoni Moda', serif;

$color-blanco-bg: #F9F8F6;
$color-negro-intenso: #0A0A0A;
$color-carbono: #1C1C1E;
$color-gris-neutro: #8E8E93;
$color-gris-intenso: #5e5e5e;
$color-gris-lineal: #E5E5E5;

$transicion-suave: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
$sombra-header: 0 .2px 5px rgba(0, 0, 0, 0.137);
